body {
    margin: 0px;
    padding: 0px;
}

footer{
    display: block;
    background: #666;
    text-align: center;
    color: lightblue;
}

body .wrapper {
    margin: 20px auto;
    background: none #f6f6f6;
    width: 979px;
    padding: 10px;
    padding-top: 25px;
    height: 155%;
}

.left-side {
    width: 555px;
    height: 100%;
    float: left;

}

.left-side .container {
    margin: 10px;
}

.left-side .item {
    display: block;
    height: 150px;
    width: 500;
    margin-bottom: 10px;
}

.left-side .item img {
    width: 150px;
}

.left-side .item .text {
    display: block;
    width: 335px;
    z-index: 2;
    height: 150px;
	float: right;
	font-family: 'Tohama';
}

.left-side .item .text h3 {
    margin-top: 5px;
    width: 335px;
}

.left-side .item .text p {
    display: inline;
    width: 335px;
    word-wrap: break-word;
}

.right-side {
    float: right;
    width: 418px;
    border: 1px solid#ebe4e4;
    margin-right: 0;
    background: none #f0f0f0;
}

.right-side p,
input,
h3,
img,
select,
nav,
button {
    margin-top: 3px;
    margin-bottom: 3px;
}

.right-side form {
	padding-left: 27px;

	
}

.right-side .alert {
    color: red;
}

.right-side img {
    width: 300px;
    height: 80px;
}
.p1{
	font-weight: bold;
	font-family: 'Helvetica';
	font-size: 13px;
}
.btn-danger{
	float: right;
	margin-right: 15%;
	height:30px ;
	font-size: 17px;
	background: #e15356;
	color: #ebe4e4;
	width: 150px;
	border: 2px solid #e15356;
	border-radius: 5px;
	font-weight: bold;
}

.btn-danger:hover{
	
	background: #e98485;
	opacity: 1;
}
a{
	text-decoration: none;
	color: blue;
}
h3{
    font-family: 'Tahoma';
    font-weight: normal;
    margin-bottom: 5%;
}